<!doctype html>
<html lang="en-US">
<head>
  <title><%= html_title yield(:title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <script type="text/javascript" src="http://use.typekit.com/gqe8ozc.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body class="admin">
  <div id="admin">
    <% if notice %><span class="notice"><%= notice %></span><% end %>
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>